<style>

    body {
        font-size: 11pt;
    }

    h1 {
        font-size: 24pt;
        font-weight: bold;
    }

    h2 {
        font-size: 20pt;
        font-weight: bold;
    }

    h3 {
        font-size: 16pt;
        font-weight: bold;
    }

    .reports-hbox {
        display: flex;
    }

    .reports-grid {
        display: grid;
    }

    .reports-content {
        padding: 10px;
    }

    .reports-toc {
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: #f8f9fa;
        border-right: 1px solid #dee2e6;
    }

    .reports-toc-handle {
        position: absolute;
        top: 0;
        right: 0;
        width: 5px;
        height: 100%;
        cursor: ew-resize;
    }

    /* TOC links style */
    .reports-toc-sections a {
        text-decoration: none;
        color: initial;
        font-weight: bold;
    }

    .reports-content {
        margin-left: 250px;
    }

</style>
